.Modal {
  margin-left: 0% !important;
  height: 80% !important;
}

.job-description {
  height: 60vh !important;

  .inner-ul {
    margin-left: 30px !important;
  }

  li {
    margin-left: 30px !important;
  }
}

.job-item-title {
  font-weight: 700;
}

@media screen and (max-width: 1500px) {
  .Modal {
    margin-left: 18% !important;
    height: 95% !important;
  }
}
