.drawer-body-menu {
  padding: 0;
  margin: 0;
  a {
    text-decoration: none;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .drawer-body-item {
    height: 70px;
    border-bottom: 1px solid lightgrey;
    min-width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    font-weight: 700;
    color: rgb(100, 100, 100);
    transition: 0.3s ease-in-out;
    &:hover {
      color: black;
    }

    .menu-icon {
      justify-self: flex-start;
    }

    .menu-item-conainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 90px;
      margin-right: 18px;

      .jobs {
        margin-right: 9px;
      }
    }
    @media screen and (max-width: 600px) {
      .menu-item-conainer {
        font-size: 0.6em;
        width: 60px;

        .jobs {
          margin-right: 8px;
        }

        .about {
          margin-right: 10px;
        }
      }
    }
  }
}

body
  > div.rs-drawer-wrapper
  > div.rs-drawer.rs-drawer-small.rs-drawer-right.slide-in.right.animated {
  width: 250px !important;
}

@media screen and (min-width: 768px) {
  body
    > div.rs-drawer-wrapper
    > div.rs-drawer.rs-drawer-small.rs-drawer-right.slide-in.right.animated {
    width: 300px !important;
  }
}
