.Jobs {
  min-height: 82vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;

  .jobs-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    span {
      width: 100%;
    }
    span.job-fair {
      font-size: 1em;
      width: 100%;
      font-weight: bolder;
      color: blue;

      a {
        font-size: 1em;
        font-weight: bolder;
      }
    }
    .jobs-container {
      margin-top: 2%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 1em;
      align-items: center;
      justify-items: space-evenly;

      .jobs-item {
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        font-size: 1.8em;
        font-weight: 900;
        text-shadow: 2px 2px black;
        color: white;
        height: 300px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        }
        border-radius: 10px;

        .job-info {
          height: 35%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          .job-info-heading {
            font-size: 1.5em;
            text-align: center;
          }
          .job-info-btn {
            height: 45px;
            border: 5px solid white;
            padding: 4px;
            border-radius: 5%;
            color: white;
            opacity: 0.8;
            background: rgb(53, 133, 238);
            transition: 0.3s ease-in-out;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
              0 1px 2px rgba(0, 0, 0, 0.24);
            &:hover {
              opacity: 1;
              color: white;
              background: rgba(15, 73, 235, 0.8);
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
            }
          }
        }
      }

      .jobs-item-1 {
        background: url('https://images.unsplash.com/photo-1484981138541-3d074aa97716?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .jobs-item-2 {
        background: url('https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .jobs-item-3 {
        background: url('https://cdn.stocksnap.io/img-thumbs/960w/board%20room-business_KCIU8RWM09.jpg');
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .jobs-item-4 {
        background: url('https://images.unsplash.com/photo-1425421669292-0c3da3b8f529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80');
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }

    .benefits-container {
      margin-top: 1px !important;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-gap: 1em;
      align-items: center;
      justify-content: space-evenly;

      .benefits-item {
        display: flex;
        height: 70px;
        padding: 0 1% 0 1%;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        color: black;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        }
        border-radius: 10px;
      }
    }

    @media screen and (min-width: 1024px) {
      .core-values-container,
      .teammates-container {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      }
    }

    @media screen and (max-width: 768px) {
      .about-heading,
      p,
      .teammates-container,
      .core-values-container {
        padding-right: 3%;
        padding-left: 3%;
      }
      p {
        width: 100% !important;
      }

      .about-heading {
        align-self: center !important;
      }
    }

    @media screen and (max-width: 767px) {
      p {
        width: 100% !important;
        font-size: 1.1em !important;
      }

      .about-heading {
        align-self: center !important;
        font-size: 1.5em !important;
      }

      .jobs-container {
        padding: 4% !important;
      }
    }

    @media screen and (max-width: 400px) {
      p {
        width: 100% !important;
        font-size: 0.9em !important;
      }

      .about-heading {
        align-self: center !important;
        font-size: 1.2em !important;
      }
    }

    @media screen and (max-width: 500px) {
      .core-values-item {
        font-size: 1.5em !important;
      }
    }
    .about-heading {
      font-size: 2em;
      align-self: flex-start;
      color: rgb(100, 100, 100);
    }

    p {
      align-self: flex-start;
      font-size: 1.5em;
      width: 80%;
      line-height: 2em;
      color: black;
      margin-top: 2%;
    }
  }
  .teammates {
    margin-bottom: 5%;
  }
}
